/* !RESET  */
*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}
/* !RESET */


/* !COMMON */
body{
    background-color: #F6F8F9;
    font-family: 'Roboto', sans-serif;
}
/* !COMMON */


/* !HEADING */
header{
    background-color: white;
    height: 10rem;
    padding: 1rem 2rem;  
}

img{
    vertical-align: middle;
    height: 8rem;
}

h1{
    display: inline-block;
    vertical-align: middle;
    color: #051931;
    font-size: 6rem;
    font-weight: bolder;

}

/* !HEADING */


/* !MAIN */

main{
    margin: 4rem auto;
    width: 80%;
    padding: 4rem;
}

.container{
 background-color: white;
 margin: .25rem;
 padding: 1em 3rem;
}
button{
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1.5rem;
}
.left{
    background-color: #47ADF1;
    border: none;
    color: white;
}
.right{
    background-color: white;
    border-color: #C5CBD0;
    border-style: solid;
    color: #C5CBD0;

}
/* !MAIN */