/* !RESET  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* !RESET */


/* !COMMON */
body{
    background-color: #F6F8F9;
}
/* !COMMON */


/* !HEADING */

/* !HEADING */


/* !MAIN */

/* !MAIN */