/* !RESET  */
*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}
/* !RESET */


/* !COMMON */
body{
    background-color: #F6F8F9;
    font-family: 'Roboto', sans-serif;
}
/* !COMMON */


/* !HEADING */
header{
    background-color: white;
    height: 10rem;
    padding: 1rem 2rem;  
}

img{
    vertical-align: middle;
    height: 8rem;
}

h1{
    display: inline-block;
    vertical-align: middle;
    color: #051931;
    font-size: 6rem;
    font-weight: bolder;

}

/* !HEADING */


/* !MAIN */

main{
    margin: 2rem auto;
    width: 80%;
    /* padding: 4rem; */
}

/* top buttons */
.container{
    background-color: white;
    margin: .25rem;
    padding: 1em 3rem;
}
.top{
    border-radius: 1rem 1rem 0 0;
}
button{
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1.5rem;
}
.left{
    background-color: #47ADF1;
    border: none;
    color: white;
}
.right{
    background-color: white;
    border-color: #C5CBD0;
    border-style: solid;
    color: #C5CBD0;
    
}
/* top buttons */

/* bottom task */
ul{
    list-style: none;
}
.title::before{
    content: '\25BC';
    font-size: 1rem;
}
.title{
    font-size: 2rem;
    font-weight: bolder;
}
.task{
    font-size: 1.5rem;
}
.circle{
    display: inline-block;
    border-radius: 50%;
    border: solid 1px;
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;
    font-size: 1.3rem;
}
.check{
    border-color: green;
    color: green;
}
.cross{
    border-color: red;
    color: red;
}
/* bottom task */

/* !MAIN */